h1{
    margin-left: 10px;
    text-align: center;
}
body{
    background-image: url(Images/Combo.jpg);
    padding: 0px;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    background-size: cover;
}
.Signupfrm{
 margin-left: 30%;
 margin-right: 30%;
 margin-bottom: 5%;
 margin-top: 2%;
}
.Signup img{
    overflow: hidden;
    margin-left: 13%;
    margin-top: 30px;
}
.Input{
    margin-left: 5%;
}
label{
    padding: 0px;
    margin-left: 10px;
    color: whitesmoke;
}
p{
    margin-left: 20px;
    color: black;
}
.CancelSignup{
    margin-bottom: 10px;
    margin-left: 25%;
    width: 30%;
    display: inline-block;
}
.Cancel button{
    margin-left: 10%;
    width: 200px;
    border: none;
    text-decoration: none;
}
.Signup button{
    margin-right: 10%;
    margin-left: 15%;
    margin-bottom: 5%;
    width: 200px;
    border: none;
    text-decoration: none;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}